.grid {
    display: grid;
    grid-template-columns: repeat(52, 10px);
    grid-gap: 2px;
    position: relative;
}
.week {
    width: 10px;
    height: 10px;
    background-color: lightgray;
}
.lived {
    background-color: black;
}
.current {
    background-color: blue;
}
.empty-line {
    background-color: white;
}
.year-label {
    position: absolute;
    left: 600px; /* Adjust this value based on your layout */
    font-size: 12px;
}

/* 
.habit-grid {
    display: grid;
    grid-template-columns: repeat(52, 20px);
    grid-gap: 2px;
    margin-bottom: 20px;
}

.day {
    grid-column: 1 / span 52;
    font-weight: bold;
    margin-bottom: 5px;
}

.week {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
}

.week.empty {
    background-color: grey;
}

.week.not-done {
    background-color: white;
}

.week.done {
    background-color: green;
}
/* 