{% extends "layout.html" %}

{% block title %}
    Memento Mori Calendar
{% endblock %}

{% block main %}
    <h1>Life Calendar for {{ user.first_name }}</h1>
    <div class="calendar-container">
        <div class="grid">
            {% for year in range(80) %}
                {% if year > 0 and year % 10 == 0 %}
                    {% for _ in range(52) %}
                        <div class="week empty-line"></div>
                    {% endfor %}
                {% endif %}
                {% for week in range(52) %}
                    {% set week_index = year * 52 + week %}
                    <div class="week 
                        {% if week_index < weeks_lived %}lived{% 
                        elif week_index == weeks_lived %}current{% 
                        endif %}
                    "></div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}