{% extends "layout.html" %}

{% block title %}
    Memento Mori
{% endblock %}

{% block main %}
<div class="calendar-container">
    <h1>MEMENTO MORI</h1>
    <div class="calendar">
        {% for i in range(0, total_weeks, 52) %}
            {% if i % 520 == 0 and i != 0 %}
                <div class="decade-break"></div>
            {% endif %}
            <div class="year-row">
                {% for j in range(52) %}
                    {% set week = weeks_data[i + j] %}
                    <div class="week tooltip" 
                         style="background-color: {{ week.color }};"
                         title="Week of {{ week.start_date.strftime('%Y-%m-%d') }}
                         {% if week.is_post_registration and week.lived %}
                         {% set color = week.color.strip('rgb()').split(',') %}
                         {% set percentage = (255 - color[0]|int) / 255 * 100 %}
                         Habit Completion: {{ '%.1f'|format(percentage) }}%
                         {% endif %}">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}v